.user-heading {
    width: 30%;
    margin: 30px auto 0px;
    color: black;
    background: rgb(117, 199, 199);
    text-align: center;
    border: 1px solid rgb(117, 199, 199);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.user-form {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid rgb(117, 199, 199);
    background: white;
    border-radius: 0px 0px 10px 10px;
}

/* New: Container for relative positioning of the toggle icon */
.password-container {
    position: relative;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* Adjust padding for password input to prevent text overlap with the toggle icon */
#password-input {
    padding-right: 40px; 
}

/* New: Styling for the password toggle icon */
.password-toggle {
    position: absolute;
    /* Adjust positioning to be relative to the input box area (below the label) */
    top: 33px; 
    right: 18px;
    cursor: pointer;
    padding: 5px; 
}

.eye-icon {
    width: 20px; 
    height: 20px;
    color: rgb(117, 199, 199); /* Use the theme color for the icon */
}

.eye-icon:hover {
    color: rgb(70, 150, 150); /* Slightly darker on hover */
}

.hidden {
    display: none;
}
/* End New Styles */


.user-form-btn {
    padding: 10px;
    font-size: 16px;
    color: black;
    background: rgb(117, 199, 199);
    border: none;
    border-radius: 5px;
}

.ueser-form-error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
